doctype html 
html 
    head 
        title #{pageTitle}
    body 
        //- gống reactjs dùng để lấy ra file Header
        include ../partials/header.pug 

        block main

        include ../partials/footer.pug
